@page
@model PurchaseC.Pages.Computers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form>
    <p>
        Search for Products: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].Price)
            </th>
        </tr>
        @foreach (var item in Model.Computer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
</table>
