@page
@model PurchaseC.Pages.Computers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].Memory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].Processor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].GPU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].Storage_Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].OS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].PSU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].Motherboard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Computer[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Computer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Memory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Processor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GPU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Storage_Info)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PSU)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motherboard)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
